@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Black+Han+Sans|Monoton|Fredoka+One');

.google-font-abril{font-family: 'Abril Fatface', cursive;}
.google-font-blackhansan{font-family: 'Black Han Sans', sans-serif;}
.google-font-monoton{font-family: 'Monoton', cursive;}
.google-font-fredoka{font-family: 'Fredoka One', cursive;}